body {
  margin:0;
}

#orpheusNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}

#orpheusNav li {
  float: left;
}

#orpheusNav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#orpheusNav li a:hover {
 background-color: #111;
}

#orpheusNav li a.active {
  background-color: #ff6ec7;
}
